<app-edit-dialog title="Profil Bearbeiten: Passwort"  (didSubmit)="didSubmit()">
  <div class="grid gap-1 grid-cols-1 grid-rows-1 m-auto ">

    <app-validated-input type="password" label="Altes Passwort" [control]="formGroup.controls.oldPassword">
      Dieses Feld muss ausgefüllt werden
    </app-validated-input>
    <app-validated-input type="password" label="Passwort (8 Zeichen)" [control]="formGroup.controls.newPassword"
      class="col-span-4">
      Das Passwort ist zu kurz
    </app-validated-input>
    <app-validated-input type="password" label="Passwort Wiederholen" [control]="formGroup.controls.newPasswordConfirm"
      class="col-span-4">
      Die Passwörter stimmen nicht überein
    </app-validated-input>
  </div>
</app-edit-dialog>
