<div class="page-container">
  <app-top-bar title="Rezensionen" [showBackBtn]="true" />

  <div class="scrollable-container space-y-3">
    <!-- My Review Container -->
    <div>
      <div *ngIf="(!myReview)">
        <div class="flex place-content-center">
          <div class="grid grid-cols-6 w-3/5 place-content-center">
            <div *ngFor="let n of [1,2,3,4,5]">
              <button (click)="setStars(n)">
                <mat-icon style="color: var(--mainau-beige); font-size: 2rem; height: 2rem; width: 2rem;">{{starIcon(n,newReview.controls.stars.value ?? 0)}} </mat-icon>
              </button>
            </div>
          </div>
        </div>


        <!-- MARK: FormControl correct & streamline style -->
        <div *ngIf="(newReview.controls.stars.value !== null)">
          <form class="example-form space-y-2 self-center">
            <span class="form-control px-1 pb-1 mt-0">
              <input placeholder="Titel" type="text" [formControl]="newReview.controls.title" class="input input-md placeholder-primary-focus w-full bg-primary text-primary-content" [ngClass]="{ 'outline-2 outline-offset-2 outline-dotted outline-error/70': (newReview.controls.title.hasError('required')) && newReview.controls.title.touched}"/>
              <!-- Error Message -->
              <ng-container *ngIf="newReview.controls.title.hasError('required') && newReview.controls.title.touched">
                <label>
                  <span #content class="text-xs text-error ml-1 mt-0">
                    Dieses Feld muss ausgefüllt werden
                  </span>
                </label>
              </ng-container>
            </span>

            <textarea placeholder="Optionale Bescreibung"
              class="textarea textarea-bordered textarea-md placeholder-primary-focus w-full bg-primary text-primary-content"
              [formControl]="newReview.controls.description"></textarea>
          </form>
          <div class="flex example-button-row place-content-end ">
            <app-button (didClick)="submitReview()">
              Senden
            </app-button>
          </div>
        </div>
      </div>

      <div *ngIf="(myReview)">
        <div class="flex place-content-center">
          <h2>Deine Rezension</h2>
        </div>
        <app-review-card [review]="myReview" [isOwn]="true"></app-review-card>
      </div>
    </div>


    <!-- All Reviews -->
    <div class="space-y-2">
      <div *ngIf="reviews.length > 0; else otherReviewsPlaceholder">
        <div class="flex place-content-center">
          <h2>Andere Rezensionen</h2>
        </div>

        <div *ngFor="let review of reviews">
          <app-review-card [review]="review"></app-review-card>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #otherReviewsPlaceholder>
  <div class="text-center">
    Keine {{ myReview ? 'Anderen' : '' }} Rezensionen
  </div>
</ng-template>
