<div class="page-container">
  <app-top-bar [title]="location?.name ?? 'Attraktion'"/>

  <div *ngIf="location" class="scrollable-container space-y-8">
    <img src="/img/locations/{{ location.picture }}" class="rounded-lg" alt="Event Bild" />

    <div [innerHTML]="location.description_html"></div>

    <app-location-map [locationName]="location.name"/>

    <div class="space-y-4">
      <div class="text-xl">Events an diesem Ort:</div>
      <div *ngFor="let item of events">
        <app-event-list-item [item]="item"></app-event-list-item>
      </div>
    </div>
  </div>
</div>
