<h2>Bachelorcard</h2>

<div class="grid gap-1 grid-cols-4 grid-rows-4">
  <!-- Name -->
  <app-validated-input label="Name" [control]="formGroup.controls.name" class="col-span-4">
    <app-payment-error-message [control]="formGroup.controls.name"/>
  </app-validated-input>
  <app-validated-input label="Kartennummer" [control]="formGroup.controls.number" class="col-span-4">
    <app-payment-error-message [control]="formGroup.controls.number"/>
  </app-validated-input>

  <!-- Address -->
  <app-validated-input label="Prüfziffer" [control]="formGroup.controls.code" class="col-span-1 mt-3">
    <app-payment-error-message [control]="formGroup.controls.code"/>
  </app-validated-input>

  <app-validated-input label="Gültig Bis (z.B.: 03/26)" [control]="formGroup.controls.date" class="col-span-3 mt-3">
    <span *ngIf="formGroup.controls.date.hasError('pattern')">
      Format MM/JJ oder M/JJ
    </span>
    <span *ngIf="formGroup.controls.date.hasError('expired')">
      Die BachelorCard ist abgelaufen
    </span>
    <app-payment-error-message [control]="formGroup.controls.date"/>
  </app-validated-input>
</div>

<div *ngIf="formGroup.hasError('required')" class="alert bg-transparent alert-error py-2 mb-4">
  Alle Felder müssen ausgefüllt werden
</div>

<app-button (click)="submit()" [disabled]="!formGroup.enabled">
  <div class="items-center">
    <div *ngIf="!formGroup.enabled" >
      <mat-progress-spinner style="margin:0 auto;" [diameter]="25" mode="indeterminate"/>
    </div>
    <div>
      <span *ngIf="formGroup.enabled">
        Jetzt Kaufen
      </span>
      <span *ngIf="!formGroup.enabled">
        Zahlung wird durchgeführt
      </span>
    </div>
  </div>
</app-button>

