.scrollable-container {
    display: flex;
    flex-direction: column;

    align-items:center;
}

.profile-info {
    padding: 20px;
}

hr {
  border-color: var(--mainau-gold);
}


.logout-btn {
    margin-top: 40px;
    height: 70px;
    width: 60%;
}

.btn-layout {
    display: grid;
    grid-template-columns: 80px auto;

    width: 100%;
}

button .icon {
    margin-top: 5px;
    transform: scale(2);
    grid-column: 1;
}

button .text {
    grid-column: 2;
    text-align: left;
}

.about {
    font-size: 12pt;
    position: absolute;
    bottom: 100px;
}

.profile-row {
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
}

.profile-label {
  flex: none;
  width: 100px;
}

.profile-btn  {
  flex-grow:1;
}

.profil-input {
    font-size: 16px;
    flex-grow: 1;
}

.card {
  background: var(--foreground);
}

.card-body {
  color: var(--background);
}

.card-body a {
  color: var(--background);
  text-decoration: underline;
}
