<div class="about-me">

    <div class="picture">
        <img class="picture" src="/assets/emanuel-moell.jpg">
    </div>

    <div class="text" style="font-size: 14px;">
        <div> Firstname: {{ myName?.firstName }} </div>
        <div> Lastname: {{ myName?.lastName }} </div>
        <div> Semester: {{ myName?.semester }} </div>
        <div> Course of studies: {{ myName?.course }} </div>
        <div> E-mail: {{ myName?.mail }} </div>

    </div>


</div>
<div>
    <!--<p style = "font-size: 17px">
        Hallo, ich bin Emanuel Moell und bin LRT Ingenieur und Flugbegeister und strebe nach diesem Studium eine Ausbildung zum Berufspilot an.
    </p>
-->
</div>
