<div class="about-me">

    <div class="picture">
        <img class="picture" src="/assets/emanuel-moell.jpg">
    </div>

    <div class="text">
        Vom Server geladene Daten:
        <div> Firstname: {{ myName?.firstName }} </div>
        <div> Lastname: {{ myName?.lastName }} </div>

    </div>


</div>
<div>
    <p style = "font-size: 17px">
        Hallo, ich bin Emanuel Moell und bin LRT Ingenieur und Flugbegeister und strebe nach diesem Studium eine Ausbildung zum Berufspilot an.
    </p>
</div>
