<div class="w-full flex flex-col">

  <div class="grid grid-cols-6 gap-0 right-2 left-2 collapsible"
    [@expandAnimation]="isCollapsed ? 'collapsed' : 'expanded'">
    <!-- Date -->
    <div class="col-span-5">
      <mat-form-field>
        <mat-date-range-input [min]="today" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date"
            [formControl]="dateRange.controls.startDate">
          <input matEndDate formControlName="end" placeholder="End date" [formControl]="dateRange.controls.endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <app-button class="col-span-1" [level]="1" (didClick)="clearDate()">
      <mat-icon>remove</mat-icon>
    </app-button>

    <app-price-filter class="col-span-5" [(minValue)]="minPrice" [(maxValue)]="maxPrice" (minValueChange)="didChange()"
      (maxValueChange)="didChange()" (maxValueChange)="didChange()"></app-price-filter>

    <app-button class="col-span-1" [level]="1" (didClick)="clearPrice()">
      <mat-icon>remove</mat-icon>
    </app-button>

    <app-location-filter [(selection)]="locations" (selectionChange)="didChange()" class="col-span-5"
      style="margin-top: 22px;"></app-location-filter>

    <app-button class="col-span-1" style="margin-top: 22px;" [level]="1" (didClick)="clearLocations()">
      <mat-icon>remove</mat-icon>
    </app-button>
  </div>

  <button (click)="isCollapsed = !isCollapsed" class="flex flex-row justify-center" style="color: var(--mainau-gold)">
    <span>{{ !isCollapsed ? 'weniger' : 'mehr'}} Filter</span>

    <mat-icon>{{!isCollapsed ? 'expand_less' : 'expand_more'}}</mat-icon>
  </button>
</div>
