<div class="page-container">
  <app-top-bar title="Events" [showBackBtn]="false"/>

  <div class="scrollable-container space-y-8">
      <mat-icon (click)="didClickFavButton()"class="float-right" style="transform: scale(1.5);">{{isFavorite ? "favorite": "favorite_border"}}</mat-icon>
      <input type="text" placeholder="Events Suchen" class="input input-bordered w-full" [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()"/>
      <div class="space-y-4">
      <div @listAnimation *ngFor="let item of events">
        <app-event-list-item [item]="item"></app-event-list-item>
      </div>
    </div>
  </div>
</div>
