<div class="about-me">

    <div class="picture">
        <img class="picture" src="/assets/marius-berner.jpg">
    </div>

    <div class="text" style="font-size: 14px;">
        <div> Firstname: {{ myName?.firstName }} </div>
        <div> Lastname: {{ myName?.lastName }} </div>
        <div> Semester: {{ myName?.semester }} </div>
        <div> Course of studies: {{ myName?.course }} </div>
        <div> E-mail: {{ myName?.mail }} </div>

    </div>


</div>
<div>
    <!--<p style = "font-size: 17px">
        Hallo, ich bin Marius Berner. Ich bin 20 Jahre alt und Studiere Informatik im 5. Semester. Nebenbei mache ich momentan meine Ausbildung zum Truppmann bei der Feuerwehr.
        Im Winter bin ich als Skilehrer tätig und trainiere unsere Rennmannschaft. Im Sommer spiele ich Fußball in der Kreisliga C.
    </p>
-->
</div>
