<div class="about-me">

    <div class="picture">
        <img class="picture" src="/assets/about/noah-kamara.jpg">
    </div>

    <div class="text" style="font-size: 14px;">
        <div> Firstname: {{ myName?.firstName }} </div>
        <div> Lastname: {{ myName?.lastName }} </div>
        <div> Semester: {{ myName?.semester }} </div>
        <div> Course of studies: {{ myName?.course }} </div>
        <div> E-mail: {{ myName?.mail }} </div>

    </div>
</div>

<div>
    <!--Hallo,<br>
    Ich bin Noah, 20 Jahre alt, und studiere Informatik. Nebenbei schreibe ich Apps für iOS & macOS, ab und zu auch
    mal Web-Apps.
    -->
</div>