<div class="page-container">

    <app-back-button></app-back-button>

    <h1>Über uns</h1>

    <div class="scrollable-container">
        <p>
            Auf dieser Seite finden Sie mehr Informationen über die Entwicklern der Webseite von Island-Explorer.
        </p>

        <h2>Unser Team</h2>
       <!-- <p> Diese Beispielseite sollte alle Individualprojekte enthalten. Beispiel: </p>-->
        <!-- Hier können die Komponenten vom Individualprojekt hinzugefügt werden -->

        <!-- <app-example></app-example> BEISPIEL -->
       <div class="space-y-2">
        <div *ngFor="let dev of developers">
          <app-dev-profile [data]="dev"/>
        </div>
       </div>
    </div>
</div>
