<br>
<h1>Name</h1>
<div><app-back-button></app-back-button>
</div>

<div class="container">
    <app-user-input label="Vorname" type="text" [(text)]="firstname"></app-user-input>
    <app-user-input label="Nachname" type="text" [(text)]="lastname"></app-user-input>
</div>

<div class="container1">
    <button class="btn save-btn" (click)="save()">

        <div class="btn-layout">
            <div class="icon">
                <mat-icon></mat-icon>
            </div>
            <div class="text">
                Speichern
            </div>
        </div>
    </button>

<button class="btn cancel-btn" routerLink="/profile/">

    <div class="btn-layout">
        <div class="icon">
            <mat-icon></mat-icon>
        </div>
        <div class="text">
            Abbrechen
        </div>
    </div>
</button>
</div>